{% extends 'base_sales.html' %}
{% block content %}
<h2>Reports</h2>

<h4>Daily Sales</h4>
<table class="table table-bordered">
    <tr><th>Date</th><th>Total Sales</th></tr>
    {% for row in daily_sales %}
    <tr><td>{{ row.date__date }}</td><td>{{ row.total }}</td></tr>
    {% endfor %}
</table>

<h4>Sales by Payment Method</h4>
<table class="table table-bordered">
    <tr><th>Method</th><th>Total Sales</th></tr>
    {% for row in payment_methods %}
    <tr><td>{{ row.payment_method }}</td><td>{{ row.total }}</td></tr>
    {% endfor %}
</table>
{% endblock %}