<table class="table table-bordered">
  <tr><th>Name</th><th>Email</th><th>Contact</th><th>Address</th><th>Actions</th></tr>
  {% for supplier in suppliers %}
    <tr>
      <td>{{ supplier.name }}</td>
      <td>{{ supplier.email }}</td>
      <td>{{ supplier.contact }}</td>
      <td>{{ supplier.address }}</td>
      <td>
        <a href="{% url 'edit_supplier' supplier.id %}" class="btn btn-sm btn-success">Edit</a>
        <a href="{% url 'delete_supplier' supplier.id %}" class="btn btn-sm btn-danger">Delete</a>
      </td>
    </tr>
  {% endfor %}
</table>
